* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

    .card-profil {
    margin: 50px auto;
    width: 100%;
    padding: 20px;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .card-profil-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    }

    .card-profil-header a {
    text-decoration: none;
    color: #ffffff;
    }

    .pure-button-primary {
    background-color: #007bff;
    color: #ffffff;
    padding: 8px 12px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    }

    .pure-button-primary:hover {
    background-color: #0056b3;
    }

    .card-profil-content table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    }

    .card-profil-content table thead {
    background-color: #41cf16;
    color: white;
    }

    .card-profil-content table th, .card-profil-content table td {
    padding: 12px;
    text-align: left !important;
    border-bottom: 1px solid #e0e0e0;
    }

    .card-profil-content table tbody tr:hover {
    background-color: #f1f1f1;
    }

    .card-profil-content td a {
    color: #007bff;
    text-decoration: none;
    margin-right: 8px;
    }

    .card-profil-content td a:hover {
    color: #0056b3;
    text-decoration: underline;
    }
    .icon-color {
    color: #ff0000;
}
.icon-box {
    display: inline-block;
    padding: 10px; 
    border: 2px solid #41cf16; 
    border-radius: 4px;
    transition: background-color 0.3s ease; 
    background-color: rgb(210, 216, 210);
}

.icon-box:hover {
    background-color: rgba(0, 123, 255, 0.1); /* warna latar saat hover */
}